{{#if isAuth }}
<h3>{{ title }}</h3>
<h6>Это админ-панель сайта <b>СевМаркет</b>. При наличии вопросов, обращайтесь к разработчику <a
        href="mailto:olga.kolesnikova@atank.ru">olga.kolesnikova@atank.ru</a></h6>
{{else}}
<h3>Вы вышли из системы</h3>
{{/if}}