<h3>{{ title }}</h3>
<br/>
<form action="/admin/ingredients/add?_csrf={{csrf}}" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
        <span><label>Изображение</label></span>
        <div class="input-image"></div>
        <span class="helper-text" data-error="Выберите изображение"></span>
    </div>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea validate"
            required></textarea>
        <label for="description">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>
    <button class="btn btn-primary">Создать</button>
</form>