{{> header }}
<body>
<header id="header" class="default">
    <div class="wrapper">
        {{> navbar}}
    </div>
</header>
<main>
    {{{ body }}}
</main>
<footer>
    <div class="wrapper">
        {{> footer}}
    </div>
    {{> scripts}}
</footer>

</body>
</html>