<section>
    <h1>404 Ошибка</h1>
    <br>
    <div class="wrapper">
        <h4>Страница не найдена</h4>
        <br>
        <h4>Вернуться на <a href="/">главную страницу</a></h4>
    </div>
</section>
